{% extends "base.html" %}

{% block title %}Home Page{%endblock%}

{% block content %}
   <div class="row">      
           <div class="col-md-12 col-sm-12">
              <h3>{{ user.login }}</h3>
              <p>{{ user.name }} {{ user.sername }}</p>
              <p>{{ user.date }}</p>
              <p>{{ user.mail }}</p>
              <p>{{ user.phone }}</p>
              <div class="row">
                <div class="col-xs-9">
                 	{{user.bio}}
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
    </div>

{% endblock %}